<div class="relative">
    <input type="text"
        class="w-full p-2 border rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 autocomplete" 
        placeholder="Recherchez ici..." id="{}" name="{}-autocomplete" data-multiple="{}" data-url="{}" data-id="{}" data-label="{}" autocomplete="off"/>
    <ul class="absolute z-10 w-full bg-white shadow-lg max-h-60 overflow-auto rounded-md my-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm autocomplete-list" 
        id="{}List" data-id="{}" style="display:none;">
    </ul>
    <div id="{}Selected" class="autocomplete-selected-items m-5"></div>    
</div>
