<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    <div class="bg-white">
      {% include "header.html" %}
      <div class="relative isolate pt-14">
        <div class="py-24 sm:py-32 lg:pb-40">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
      {% include "footer.html" %}
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      // Sélectionne tous les éléments avec la classe .configurator
      var configuratorElements = document.querySelectorAll('.configurator');
  
      configuratorElements.forEach(function(selectElement) {
          var url = selectElement.getAttribute('data-url'); // Récupère l'URL à partir de l'attribut data-url
  
          // Exécute une requête AJAX pour charger les options
          fetch(url, {
              method: 'GET', // La méthode HTTP à utiliser pour la requête
              headers: {
                  'Content-Type': 'application/json' // Ajoute l'en-tête Content-Type
              }
          })
              .then(function(response) {
                  if (!response.ok) {
                      throw new Error('Erreur réseau lors du chargement des options');
                  }
                  return response.json();
              })
              .then(function(data) {
                  // Supprime les options existantes
                  selectElement.innerHTML = '';
  
                  // Ajoute les nouvelles options
                  Object.keys(data).forEach(function(key) {
                      var option = document.createElement('option');
                      option.value = data[key][selectElement.getAttribute('data-id')];
                      option.textContent = data[key][selectElement.getAttribute('data-value')];
                      selectElement.appendChild(option);
                  });
              })
              .catch(function(error) {
                  console.error('Erreur lors du chargement des options:', error);
              });
      });
  });
  
    </script>
  </body>
</html>